/*
Blau: #1F4E8C
Dumkelgrau: #3D3F45
Hellgrau: #e5e5e5
Rot: #a6221
*/

:root {
  --blue: #1f4e8c;
  --dark-grey: #3d3f45;
  --light-grey: #e5e5e5;
  --red: #a62c21;
}

/* Global */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Raleway", "Lato", "Helvetica Neue", "Arial", sans-serif;
}

/* Generelles */

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

/* Navigationsleiste */
.header-nav {
  width: 100%;
  height: 50px;
  background-color: var(--dark-grey);
  font-weight: bold;
  font-size: 1.1rem;
  position: relative;
}

.header-nav a > img {
  height: 30px;
  width: auto;
  float: left;
  top: 0.55rem;
  margin: 0.55rem;
}

.header-nav ul {
  margin: 0;
  padding: 0;
  float: right;
  height: 100%;
}

.header-nav ul > li {
  display: inline-block;
  height: 100%;
  padding: 0 0.2rem;
}

.header-nav ul > li > a {
  display: inline-block;
  margin-top: 0.8rem;
}

.header-nav ul > li > a:link,
.header-nav ul > li > a:visited {
  color: #fff;
  text-decoration: none;
}

.header-nav ul > li > a:hover,
.header-nav ul > li > a:active {
  color: var(--light-grey);
  text-decoration: none;
}

.header-nav .col-6 {
  padding: 0;
}

.header-nav .container,
.header-nav .row,
.header-nav .col-6 {
  height: 100%;
}

.active {
  background-color: var(--red) !important;
}

/*Mobile Navigationsleiste */

.mobile-nav-dropdown {
  display: inline-block;
  position: relative;
  float: right;
}

.mobile-nav-dropdown:hover .mobile-nav-content {
  display: block;
}

.mobile-nav-content {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
}

.mobile-nav-button {
  float: right;
  color: var(--light-grey);
  font-size: 2rem;
  border: 2px solid var(--light-grey);
  border-radius: .5rem;
  width: 37px;
  height: 37px;
  position: relative;
  margin-top: .2rem;
  margin-bottom: 10px;
}

.mobile-nav-button > span {
  position: relative;
  left: 7px;
  bottom: 2px;
}

.mobile-nav-content > ul > li {
  display: block;
  background-color: var(--dark-grey);
  height: 50px;
  padding: 0 1.2rem;
  text-align: center;
}

.mobile-nav {
  display: none;
}

@media(max-width: 768px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
}

/*Header-Banner*/
.header-banner {
  background: url("../img/hintergrund.jpg") no-repeat;
  width: 100%;
  height: 0;
  /* 400px / 1920 px * 100*/
  padding-top: 20.83%;
  background-size: contain;
}

.header-banner-klein {
  background: url("../img/hintergrund-klein.jpg") no-repeat;
  width: 100%;
  height: 0;
  /* 400px / 1920 px * 100*/
  padding-top: 15.625%;
  background-size: contain;
}

/*Grid System Sichtbarkeit*/
/*.border,*/
/*.border * {*/
/*  border: 1px solid var(--light-grey);*/
/*}*/

/*[class*="col-"] {*/
/*  background-color: lightblue;*/
/*}*/

/*p {*/
/*  background-color: lightblue;*/
/*  padding: 0;*/
/*  margin: 0;*/
/*  color: #000;*/
/*  text-align: center;*/
/*}*/

/*Grid System*/
.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 0.8rem;
}

.col-1 {
  width: 16.666%;
}

.col-2 {
  width: 33.333%;
}

.col-3 {
  width: 50%;
}

.col-6 {
  width: 100%;
}

@media (max-width: 1024px) {
  .col-1 {
    width: 33.333%;
  }
}

@media (max-width: 768px) {
  .col-1 {
    width: 50%;
  }

  .col-2,
  .col-3 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  [class*="col-"] {
    width: 100%;
  }
}
