@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v37-latin-regular.eot"); /* IE9 Compat Modes */
  src:
    url("../fonts/raleway-v37-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/raleway-v37-latin-regular.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/raleway-v37-latin-regular.woff") format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("../fonts/raleway-v37-latin-regular.ttf") format("truetype"),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url("../fonts/raleway-v37-latin-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/raleway-v37-latin-italic.eot"); /* IE9 Compat Modes */
  src:
    url("../fonts/raleway-v37-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/raleway-v37-latin-italic.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/raleway-v37-latin-italic.woff") format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("../fonts/raleway-v37-latin-italic.ttf") format("truetype"),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url("../fonts/raleway-v37-latin-italic.svg#Raleway") format("svg"); /* Legacy iOS */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v37-latin-700.eot"); /* IE9 Compat Modes */
  src:
    url("../fonts/raleway-v37-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/raleway-v37-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/raleway-v37-latin-700.woff") format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("../fonts/raleway-v37-latin-700.ttf") format("truetype"),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url("../fonts/raleway-v37-latin-700.svg#Raleway") format("svg"); /* Legacy iOS */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/raleway-v37-latin-700italic.eot"); /* IE9 Compat Modes */
  src:
    url("../fonts/raleway-v37-latin-700italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/raleway-v37-latin-700italic.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/raleway-v37-latin-700italic.woff") format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("../fonts/raleway-v37-latin-700italic.ttf") format("truetype"),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url("../fonts/raleway-v37-latin-700italic.svg#Raleway") format("svg"); /* Legacy iOS */
}

:root {
  --blue: #1f4e8c;
  --dark-grey: #3d3f45;
  --light-grey: #f0f0f0;
  --red: #a62c21;
  --white: #ffffff;
  --primary-font: Raleway;
  --secondary-font: "Helvetica Neue";
  --tertiary-font: Arial;
  --fallback-font: sans-serif;
  --border-style: 2px solid;
  --border-transition: border 0.5s ease-in-out;
}

/* Global */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: var(
    --primary-font,
    --secondary-font,
    --tertiary-font,
    --fallback-font
  );
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (max-width: 1366px) {
  section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 1024px) {
  section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 768px) {
  section {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

/* Generelles */

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.wichtiger-text {
  font-weight: bold;
}

.screenreader {
  display: none;
}

.intro-container {
  text-align: center;
  width: 80%;
  margin: 0 auto 2rem auto;
}

.intro-container > h1 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.intro-container > p {
  font-size: 1.2rem;
}

@media (max-width: 1366px) {
  .intro-container {
    width: 90%;
  }

  .intro-container > p {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 1024px) {
  .intro-container {
    width: 100%;
  }

  .intro-container > p {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .intro-container {
    margin-bottom: 1rem;
  }
}
/* Buttons */

.btn-type-1 {
  background-color: var(--red);
  border: var(--border-style) var(--red);
  color: var(--white);
  padding: 0.4rem 0.6rem;
  transition: var(--border-transition);
}

.btn-type-1:hover {
  border: var(--border-style) var(--white);
  font-weight: normal;
}

.btn-type-2 {
  background-color: transparent;
  border: var(--border-style) var(--white);
  color: var(--white);
  padding: 0.4rem 0.6rem;
  transition:
    color 0.5s ease-in-out,
    var(--border-transition);
}

.btn-type-2:hover {
  border: var(--border-style) var(--red);
  color: var(--red);
  font-weight: normal;
}

.btn-type-3 {
  background-color: transparent;
  border: var(--border-style) var(--dark-grey);
  color: var(--dark-grey);
  font-size: 1rem;
  transition: var(--border-transition);
}

.btn-type-3:hover {
  border: var(--border-style) var(--red);
  font-weight: normal;
}

/* Navigationsleiste */
#header-nav {
  width: 100%;
  height: 50px;
  background-color: var(--dark-grey);
  font-weight: bold;
  font-size: 1.1rem;
  position: relative;
}

#header-nav a > img {
  height: 30px;
  width: auto;
  float: left;
  top: 0.55rem;
  margin: 0.55rem;
}

#header-nav ul {
  margin: 0;
  padding: 0;
  float: right;
  height: 100%;
}

#header-nav ul > li {
  display: inline-block;
  height: 100%;
  padding: 0 0.2rem;
}

#header-nav ul > li > a {
  display: inline-block;
  margin-top: 0.8rem;
}

#header-nav ul > li > a:link,
#header-nav ul > li > a:visited {
  color: var(--white);
  text-decoration: none;
}

#header-nav ul > li > a:active,
#header-nav ul > li > a:hover {
  color: var(--light-grey);
  text-decoration: none;
}

#header-nav .col-6 {
  padding: 0;
}

#header-nav .container,
#header-nav .row,
#header-nav .col-6 {
  height: 100%;
}

.active {
  background-color: var(--red) !important;
}

.logo-link {
  display: inline-block;
}

/*Mobile Navigationsleiste */

#mobile-nav-dropdown {
  position: relative;
  float: right;
}

#mobile-nav-dropdown:hover #mobile-nav-content {
  display: block;
}

#mobile-nav-content {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
}

#mobile-nav-button {
  float: right;
  color: var(--light-grey);
  font-size: 2rem;
  border: var(--border-style) var(--light-grey);
  border-radius: 0.5rem;
  width: 37px;
  height: 37px;
  position: relative;
  margin-top: 0.2rem;
  margin-bottom: 10px;
}

#mobile-nav-button > span {
  position: relative;
  left: 7px;
  bottom: 2px;
}

#mobile-nav-content > ul > li {
  display: block;
  background-color: var(--dark-grey);
  height: 50px;
  padding: 0 1.2rem;
  text-align: center;
}

#mobile-nav {
  display: none;
}

@media (max-width: 768px) {
  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    display: block;
  }
}

/*Header-Banner*/
#header-banner {
  background: url("../img/hintergrund.jpg") no-repeat;
  width: 100%;
  height: 0;
  /* 400px / 1920 px * 100*/
  padding-top: 20.83%;
  background-size: contain;
}

#header-banner-klein {
  background: url("../img/hintergrund-klein.jpg") no-repeat;
  width: 100%;
  height: 0;
  /* 400px / 1920 px * 100*/
  padding-top: 15.625%;
  background-size: contain;
}

/* Header Banner */
#newsletter-bereich {
  width: 100%;
  background-color: var(--dark-grey);
  padding-top: 0;
  padding-bottom: 0;
}

#nb-werbetext {
  color: var(--white);
  font-size: 1.2rem;
}

#nb-form {
  margin-top: 0.8rem;
  width: 100%;
  text-align: right;
}

#nb-email-input {
  width: 78%;
  height: 40px;
  border: solid 2px var(--white);
  padding: 0.4rem;
}

#nb-btn {
  height: 40px;
}

@media (max-width: 1822px) {
  #nb-email-input {
    width: 70%;
  }
}

@media (max-width: 1358px) {
  #nb-email-input {
    width: 100%;
  }

  #nb-btn {
    margin-top: 0.5rem;
    width: 100%;
  }
}

@media (max-width: 768px) {
  #nb-werbetext {
    display: none;
  }

  #nb-form {
    margin-top: 0;
  }

  #newsletter-bereich .col-4 {
    display: none;
  }
}

@media (max-width: 480px) {
  #nb-email-input {
    height: 25px;
  }

  #nb-btn {
    height: 25px;
    padding: 0;
  }
}

/* Animiertes Logo */
@keyframes logo-spin {
  0% {
    transform: rotateZ(0deg);
  }
  11.111% {
    transform: rotateZ(0deg);
  }
  22.222% {
    transform: rotateZ(90deg);
  }
  33.333% {
    transform: rotateZ(90deg);
  }
  44.444% {
    transform: rotateZ(180deg);
  }
  55.555% {
    transform: rotateZ(180deg);
  }
  66.666% {
    transform: rotateZ(270deg);
  }
  77.777% {
    transform: rotateZ(270deg);
  }
  88.888% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(3600deg);
  }
}

#animiertes-logo {
  height: 150px;
  width: 150px;
  background-color: var(--dark-grey);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  padding: 25px;
}

#animiertes-logo > img {
  display: block;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  animation: logo-spin 5s infinite;
}

@media (max-width: 768px) {
  #animiertes-logo {
    display: none;
  }
}

/*Leistungen Bereich*/

.leistungs-teaser-box {
  background-color: var(--dark-grey);
  text-align: center;
  color: var(--white);
  padding: 1rem 3rem 2.5rem;
  width: 60%;
  margin-bottom: 1.6rem;
}

@media (max-width: 480px) {
  .leistungs-teaser-box {
    padding: 1.5rem;
  }
}

#leistungen-bereich .row > .col-3:nth-of-type(even) > .leistungs-teaser-box {
  margin-right: auto;
  margin-left: 1rem;
}

#leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistungs-teaser-box {
  margin-right: 1rem;
  margin-left: auto;
}

.leistungs-teaser-box > h2 {
  font-size: 1.4rem;
}

.leistung-ansehen-btn {
  display: inline-block;
  height: 40px;
  padding-top: 0.5rem;
  width: 60%;
  text-decoration: none;
  margin-top: 1rem;
  min-width: 100px;
}

@media (max-width: 1366px) {
  .leistungs-teaser-box {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .leistungs-teaser-box {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  #leistungen-bereich .row > .col-3:nth-of-type(even) > .leistungs-teaser-box,
  #leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistungs-teaser-box {
    margin: 0;
  }
}

/* Video Bereich */
#video-bereich {
  background-color: var(--dark-grey);
  color: var(--white);
}

#video-bereich video {
  display: block;
  width: 35%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1440px) {
  #video-bereich video {
    width: 45%;
  }
}

@media (max-width: 1024px) {
  #video-bereich video {
    width: 60%;
  }
}

@media (max-width: 768px) {
  #video-bereich video {
    width: 75%;
  }
}

@media (max-width: 480px) {
  #video-bereich video {
    width: 100%;
  }
}

/* Service Bereich */

#service-bereich {
  background-color: var(--light-grey);
}

.service-box {
  text-align: center;
  width: 80%;
}

.service-box > h1 {
  font-size: 1.4rem;
}

#service-bereich .row:nth-of-type(2) > .col-2:first-of-type > .service-box {
  margin-right: 0;
  margin-left: auto;
}

#service-bereich .row:nth-of-type(2) > .col-2:nth-of-type(2) > .service-box {
  margin-left: auto;
  margin-right: auto;
}

.service-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  transition: transform 1s;
}

.service-icon:hover {
  transform: rotateZ(360deg);
}
#guenstig-icon {
  background: url("../img/services-sprite.png") 0 0 var(--dark-grey);
}

#schnell-icon {
  background: url("../img/services-sprite.png") 240px 0 var(--dark-grey);
}

#modern-icon {
  background: url("../img/services-sprite.png") 120px 0 var(--dark-grey);
}

@media (max-width: 768px) {
  #service-bereich .row:nth-of-type(2) > .col-2:nth-of-type(n) > .service-box {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  .service-box {
    width: 100%;
  }
}

/* Über uns Bereich */

#ueber-uns-bereich {
  background-color: var(--white);
}

#ueber-uns-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#ueber-uns-container > p {
  width: 75%;
  font-size: 1.2rem;
  margin-top: 0;
}

#ueber-uns-container > img {
  position: absolute;
  top: 0;
  right: 100px;
  height: 100%;
}

@media (max-width: 1440px) {
  #ueber-uns-container > img {
    right: 50px;
  }
}

@media (max-width: 1280px) {
  #ueber-uns-container > img {
    right: 0;
  }
}

@media (max-width: 1140px) {
  #ueber-uns-container > p {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  #ueber-uns-container > img {
    display: none;
  }

  #ueber-uns-container > p {
    width: 100%;
  }
}

/* Footer */
#footer {
  background-color: var(--dark-grey);
  color: var(--white);
  height: 2.8rem;
}

#footer-nav {
  display: inline-block;
  float: right;
}

#footer-nav > a {
  text-decoration: none;
}

#footer-nav > a:link,
#footer-nav > a:visited,
#footer-nav > a:active {
  color: var(--white);
}

#footer-nav > a:hover {
  color: var(--light-grey);
}

@media (max-width: 565px) {
  #footer span {
    display: none;
  }
}

/* Leistungen-Seite */
.leistung {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.leistung:nth-of-type(even) {
  background-color: var(--light-grey);
}

.leistung:nth-of-type(odd) {
}

.flex-container {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;
}

.leistungs-box {
  background-color: var(--dark-grey);
  flex-basis: 25%;
  color: var(--white);
  padding: 2rem 4rem;
  text-align: center;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.leistungs-box h1 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.leistungs-box p {
  margin-top: 0;
}

.leistungs-box-empfohlen {
  flex-basis: 27.5%;
  min-height: 675px;
  box-shadow: 0 0 20px 0 var(--dark-grey);
  font-size: 1.05rem;
}

.leistungs-box ul {
  padding: 0;
}

.leistungs-box ul > li {
  list-style-position: inside;
  margin-bottom: 0.5rem;
}

.leistung-auswählen-btn {
  width: 50%;
  height: 2.5rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  min-width: 170px;
}

.flex-container > .intro-container {
  width: 100%;
}

@media (max-width: 1366px) {
  .flex-container {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .flex-container {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

@media (max-width: 1782px) {
  .leistungs-box {
    flex-basis: 27.5%;
  }

  .leistungs-box-empfohlen {
    flex-basis: 30%;
  }
}

@media (max-width: 1782px) {
  .leistungs-box {
    flex-basis: 30%;
  }

  .leistungs-box-empfohlen {
    flex-basis: 32.5%;
  }
}

@media (max-width: 1622px) {
  .leistungs-box {
    flex-basis: 30%;
  }

  .leistungs-box-empfohlen {
    flex-basis: 32.5%;
  }
}

@media (max-width: 1488px) {
  .leistungs-box {
    padding: 1rem 2rem;
  }

  .flex-container {
    align-items: stretch;
  }

  .leistungs-box-empfohlen {
    min-height: initial;
  }
}

@media (max-width: 1088px) {
  .flex-container {
    flex-direction: column;
    padding: 0;
  }

  .leistungs-box {
    margin-bottom: 2rem;
    min-height: initial;
    padding: 2rem 4rem;
  }
}

@media (max-width: 768px) {
  .flex-container {
    width: 90%;
  }
}

@media (max-width: 409px) {
  .leistungs-box {
    padding: 1rem 2rem;
  }
}

@media (max-width: 338px) {
  .leistungs-box {
    padding: 0.5rem 1rem 2rem 1rem;
  }
}

/* Kontakt-Seite */
#kontakt-bereich {
  padding-top: 1rem;
}

#kontakt-formular input,
#kontakt-formular textarea {
  width: 100%;
  border: var(--border-style) var(--dark-grey);
  padding: 0.5rem;
  font-size: 1rem;
  font-family: var(
    --primary-font,
    --secondary-font,
    --tertiary-font,
    --fallback-font
  );
  color: var(--dark-grey);
  transition: var(--border-transition);
}

#kontakt-formular input:hover,
#kontakt-formular input:hover,
#kontakt-formular textarea:hover {
  border: var(--border-style) var(--red);
}

#kontakt-formular textarea {
  height: 100px;
}

#kontakt-formular {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#absendenButton {
  float: left;
  width: 150px;
  height: 39px;
}

@media (max-width: 1366px) {
  #kontakt-formular {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  #kontakt-formular {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #kontakt-formular button {
    width: 100%;
  }
}

/* Impressum */
#impressum {
  padding-top: 1rem;
}

#impressum a {
  color: var(--dark-grey);
  font-weight: bold;
  text-decoration: none;
}

/*Grid System*/
.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 0.8rem;
}

.col-1 {
  width: 16.666%;
}

.col-2 {
  width: 33.333%;
}

.col-3 {
  width: 50%;
}

.col-4 {
  width: 66.666%;
}

.col-6 {
  width: 100%;
}

@media (max-width: 1024px) {
  .col-1 {
    width: 33.333%;
  }
}

@media (max-width: 768px) {
  .col-1 {
    width: 50%;
  }

  .col-2,
  .col-3,
  .col-4 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  [class*="col-"] {
    width: 100%;
  }
}
